version: '2'
services:
  web:
    image: $AWS_ACCOUNT_ID.dkr.ecr.$AWS_DEFAULT_REGION.amazonaws.com/$CIRCLE_REPO_NAME:$CIRCLE_BUILD_NUM
    ports:
    - "80:3000"
    links:
    - mongo
  mongo:
    image: "mongo"
