apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: $K8S_CERTIFICATE_AUTHORITY_DATA
    server: $K8S_SERVER
  name: $K8S_NAME
contexts:
- context:
    cluster: ""
    user: ""
  name: deis
- context:
    cluster: spcab0gehz
    user: default-admin
  name: stackpoint
current-context: stackpoint
kind: Config
preferences: {}
users:
- name: default-admin
  user:
    client-certificate-data: $K8S_CLIENT_CERTIFICATE_DATA
    client-key-data: $K8S_CLIENT_KEY_DATA
